html, 

html{
    Overflow-y: hidden;
    padding: 0;
    margin: 0;
}

*  {
    overflow: hidden; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-style: solid;
    outline-color: red;
}

body{
    margin: 0;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    z-index: 2;
}

form{
    display: inline-block;
    margin: 50px;
    margin-top: 250px;
    padding: 25px;
    padding-left: 170px;
    padding-right: 170px;
    background-color:rgba(28, 88, 88, 0.5);
    width: 100%; 
    margin-left: 0px;
}

#overlay {
    position: relative; /* Sit on top of the page content */
    float: left;
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    font-weight: bold;
    background-color: #101C1C; 
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #overText {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

.formatHalf{
    width: 50%;
    float: left; 
    background-color: #101C1C;
    height: 1120px;
}

.title{
    margin-top: 0; 
    margin-left: 0; 
}

