html, 

html{
    Overflow-y: scroll;
    padding: 0;
    margin: 0;
}

*  {
    overflow: hidden; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-style: solid;
    outline-color: red;
}

body{
    margin: 0;
}

.formatHalf{
    width: 50%;
    float: left;
}

.title{
    margin-top: 0; 
    margin-left: 0; 
}

